<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="StatisticLogContext" connectionString="metadata=res://*/StatisticModel.csdl|res://*/StatisticModel.ssdl|res://*/StatisticModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=GenFx;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
